@charset "ISO-8859-1";
    .pagination-container {margin-left:490px }
    a {
        text-decoration: none !important;
    }
    #logo a {
        color: #3acf87;
    }
    #logo a:hover{
        color: gray;
    }
    .product-button:hover {
        color: white !important;
    }
    .page.active > a {
        color: white;
        background-color: #3acf87;
        border: 1px solid #3acf87;
    }
    .banner{

        width: 100%;
        height: 304% !important;

    }

    /*    @media only screen and (max-width: 1389px) and (min-width: 960px){
    .container .sixteen.columns {
        width: 940px;
        margin-left: 11% !important;
    }
        }

        @media only screen and (max-width: 1389px) and (min-width: 960px) {
    .container .four.columns {
        width: 220px;
        margin-left: 11% !important;
    }
        }*/


    .color-box{

      width: 14px;
      height: 14px;
      margin-top: -19px;
      margin-left: 22px;
      z-index:-1px;

}


    .filterbycolor{
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        margin: -2px;
        cursor: pointer;
        margin: 10px 4px -2px;
    }
    .filterbybrand{
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        margin: -2px;
        cursor: pointer;
    }
    .sort{
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        margin: -2px;
        cursor: pointer;
    }

    #logo a {
        color: #3acf87;
        font-size: 28px;
    }
    li {
        text-transform: capitalize;
        line-height: 18px;
    }
